%tr.row
  %td.comment-avatar-mobile.col-xs-2.col-sm-2.col-md-2
    = image_tag(comment.user.avatar_url, class: 'img-circle-mobile')
  %td.comment-content-mobile.col-xs-8.col-sm-8.col-md-8
    = comment.content
    %td.rating.vote-block.make-vote.col-xs-4.col-sm-4.col-md-4{ id: "vote-block-#{comment.id}" }
      = comment.rating
    %td.vote-up.col-xs-4.col-sm-4.col-md-4
      %i.vote-for-mobile.fa.fa-thumbs-o-up{ data: {:image_id => comment.image.id, :comment_id => comment.id, :comment_rating => comment.rating} }
    %td.vote-down.col-xs-4.col-sm-4.col-md-4
      %i.vote-against-mobile.fa.fa-thumbs-o-down{ data: {:image_id => comment.image.id, :comment_id => comment.id, :comment_rating => comment.rating} }