%tr.row
  %td.comment-avatar-mobile.col-xs-2.col-sm-2.col-md-2
    = image_tag(comment.user.avatar_url, class: 'img-circle-mobile')
  %td.comment-content-mobile.col-xs-8.col-sm-8.col-md-8
    = comment.content
  %td.rating.vote-block.make-vote.col-xs-4.col-sm-4.col-md-4{ id: "vote-block-#{comment.id}" }
    = comment.rating
  - if user_signed_in?
    - unless comment.user.id == current_user.id
      - if current_user.voted_for?(comment)
        - if current_user.positive_vote?(comment)
          %td.vote-up.col-xs-4.col-sm-4.col-md-4{ data: {:image_id => comment.commentable.id, :comment_id => comment.id, :comment_rating => comment.rating} }
            %i.fa.fa-thumbs-o-up
          %td.vote-down.col-xs-4.high-opacity.col-sm-4.col-md-4{ data: {:image_id => comment.commentable.id, :comment_id => comment.id, :comment_rating => comment.rating} }
            %i.fa.fa-thumbs-o-down
        - else
          %td.vote-up.col-xs-4.col-sm-4.col-md-4.high-opacity{ data: {:image_id => comment.commentable.id, :comment_id => comment.id, :comment_rating => comment.rating} }
            %i.fa.fa-thumbs-o-up
          %td.vote-down.col-xs-4.col-sm-4.col-md-4{ data: {:image_id => comment.commentable.id, :comment_id => comment.id, :comment_rating => comment.rating} }
            %i.fa.fa-thumbs-o-down
      - else
        %td.vote-up.col-xs-4.col-sm-4.col-md-4{ data: {:image_id => comment.commentable.id, :comment_id => comment.id, :comment_rating => comment.rating}, onclick: '' }
          %i.fa.fa-thumbs-o-up
        %td.vote-down.col-xs-4.col-sm-4.col-md-4{ data: {:image_id => comment.commentable.id, :comment_id => comment.id, :comment_rating => comment.rating}, onclick: "" }
          %i.fa.fa-thumbs-o-down