.users
  %table.table.table-striped
    - @users.each do |user|
      %tr
        %td.single-user
          = image_tag(user.avatar_url, class: 'img-circle')
          = link_to user.username, user_path(user)
        %td.karma-table 
          = user.karma