= content_for(:title, "Занимательные новости | Комментаторы")
- @recent_news.each do |news|
  %article.commentator
    - if news.comments.any?
      - @top_comment = news.comments.order("rating DESC, created_at ASC").first.content
    - else
      - @top_comment = 'Комментариев пока нет'
    = render "news/news", news: news
    = render "comments/top_comments", post: news
= will_paginate(@recent_news, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)