= content_for(:title, "Занимательные факты | Комментаторы")
- @recent_facts.each do |fact|
  %article.commentator
    - if fact.comments.any?
      - @top_comment = fact.comments.order("rating DESC, created_at ASC").first.content
    - else
      - @top_comment = 'Комментариев пока нет'
    = render "facts/fact", fact: fact
    = render "comments/top_comments", post: fact
= will_paginate(@recent_facts, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)