= content_for(:title, "Настало время офигительных историй! | Комментаторы")
- @recent_stories.each do |story|
  %article.commentator
    - if story.comments.any?
      - @top_comment = story.comments.order("rating DESC, created_at ASC").first.content
    - else
      - @top_comment = 'Комментариев пока нет'
    = render "stories/story", story: story
    = render "comments/top_comments", post: story
= will_paginate(@recent_stories, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)