= content_for(:title, "Нереальные новости | Комментаторы")
- @recent_fictions.each do |fiction|
  %article.commentator
    - if fiction.comments.any?
      - @top_comment = fiction.comments.order("rating DESC, created_at ASC").first.content
    - else
      - @top_comment = 'Комментариев пока нет'
    = render "fictions/fiction", fiction: fiction
    = render "comments/top_comments", post: fiction
= will_paginate(@recent_fictions, :previous_label => 'Туда', :next_label => 'Сюда', renderer: WillPaginate::ActionView::LinkRenderer)