@nightblue: #5B7FA7;
@urlcolor: #2B587A;
@red: #F68E8E;
@green: #92F68E;

body#desktop {
  width: 1000px;
  margin: 0 auto;
  background: #dedede url(/triangular-bg.png);
}

a {
  color: @urlcolor;
  &:hover {
    color: @urlcolor;
  }
}

li {
  list-style: none;
}

h1 {
  color: @urlcolor;
}

.red {
  color: @red;
}

.green {
  color: @green;
}

header {
  overflow: hidden;
  .logo {
    width: 60%;
    float: left;
    margin: 20px;
    /* text-align: center; */
    color: #2b587a;
    span {
      font-size: 50px;
      margin-left: 20px;
    }
    img {
      width: 80px;
    }
    a {
      font-weight: 200;
      font-size: 70px;
      line-height: 100px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  ul.menu {
    background-color: rgba(0,0,0,0.5);
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    /* background: #5b7ca2; */
    height: 40px;
    line-height: 42px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #475e78;
    color: #fff;
    zoom: 1;
    border: 0;
    overflow: hidden;
    .rmenu {
      overflow: hidden;
      float: right;
    }
    li {
      float: left;
      border: 0;
      margin: 0;
      padding: 0 18px 0 16px;
      color: rgb(241, 219, 19);
      line-height: 40px;
      a {
        line-height: 40px;
        float: left;
        display: block;
        height: 40px;
        color: #fff;
        text-decoration: none;
        &:hover {
          color: rgb(241, 219, 19);
        }
      }
    }
  }
}

.wrapper { 
  background-color: rgba(255,255,255, 0.5);
  padding-top: 10px;
  overflow: hidden;
  padding: 10px;
}

.main {
  width: 605px;
  margin: 0;
  float: left;
  padding: 10px;
}
/*
img {
  max-width: 100% !important;
}
*/
#sign-in-btn {
  width: 100%;
}

#profile {
  overflow: hidden;
  margin-bottom: 20px;
  #side-menu {
    background-color: #fff;
    border-radius: 10px;
    float: left;
    padding: 10px;
    width: 275px;
    height: 95px;
    ul {
      list-style: none;
      text-align: center;
      margin-bottom: 0;
      padding-left: 0;
      margin-top: 5px;
    }
  }
  #profile-sign-in {
    position: relative;
    font-size: 20px;
    letter-spacing: 2px;
    color: #2b587a;
    img {
      display: block;
      margin: 0 auto;
    }
    #profile-info {
      padding: 16px 12px;
      margin: 0;
    }
    #gate {
      padding: 10px 10px 10px 10px;
      width: 100px;
      display: block;
      margin: 0 auto;
    }
    #profile-enter {
      width: 100%;
      font-size: 18px;
      color: #2b587a;
      text-align: center;
      background: #5b7ca2;
      color: white;
      margin: 0;
      line-height: 54px;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: rgb(241, 219, 19);
        }
      }
    }
  }
  .navigation {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 80px;
    /* new */
    width: 70px;
    float: right;
    #profile-karma {
      text-align: center;
      margin-bottom: 0;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    ul {
      text-align: center;
      list-style: none;
      padding-left: 0px;
      margin: 0 auto;
      li {
        padding: 4px 0px;
        display: inline;
        margin-right: 15px;
        a {
          text-decoration: none;
        }
        &:last-of-type {
          margin: 0;
        }
      }
    } 
  }
}

article {
  background-color: #fff;
  width: 100%;
  .share {
    margin-bottom: 0 !important;
  }
  .comments {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.img-header {
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 10px;
  .created_at_image {
    float: left;
  }
  .title {
    float: right;
    overflow: visible;
    a:hover {
      text-decoration: none;
    }
  }
}

.under-image {
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  #comments {
    .single-comment {
      padding: 10px !important;
    }
  }
}

.commentator {  
  padding: 0px 0px 0px 0px;
  margin-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  .share {
    background-color: #fff;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin: 0 0 20px 0;
    text-align: center;
    img {
      height: 20px;
    }
  }
  .image {
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
    .top-comment {
      position: absolute;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
      width: 100%;
      &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 15px 15px;
        border-color: rgba(0,0,0,0.6) transparent;
        display: block;
        top: -15px;
        left: 33px;
      }
      h1 {
        opacity: 0.8;
        padding: 20px 15px 20px 15px;
        margin: 0;
        text-align: center;
        color: #fff;
        font-size: 29px;
        font-weight: 200;
      }
      h4 {
        opacity: 0.8;
        color: #A9B8CC;
        padding: 0px;
        font-size: 15px;
        text-align: center;
        margin: -10px 20px 15px 20px;
        font-weight: 200;
        a {
          color: #A9B8CC;
        }
      }
    }
    .copyright {
      position: absolute;
      right: 5px;
      bottom: 5px;
      font-weight: 100;
      color: rgba(255,255,255,0.3);
      h6 {
        font-weight: 200;
        font-size: 13px;
        margin: 0;
      }
    }
  }
}

h4 {
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: @nightblue;
}

.resize {
  width: 100%;
  height: auto;
}

div.pagination {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 0 0 0;
  width: 100%;
  text-align: center;
  padding: 1em;
  cursor: default;
  ul.pagination {
    margin: 0 auto;
    li {
      a {
        border: none;
      }
    }
  }
  a, span {
    padding: 0.2em 0.3em;
    /* color: @nightblue !important; */
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    /*font-weight: bold;*/
    /* background-color: @nightblue; */
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    color: #2b587a;
    /*-moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    color: #fff;
    */
    font-size: 30px;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.single-comment {
  padding: 0px 10px 20px 10px;
  .thumb-image {
    float: left;
    width: 200px;
  }
  .image-id { /* User's profile */
    line-height: 50px;
    float: left;
    font-size: 25px;
  }
  .comment-top {
    height: 20px;
    .username {
      margin-left: 70px;
    }
    .medal {
      position: relative;
      top: 40px;
      left: 20px;
      .gold-medal, .silver-medal, .bronze-medal {
        width: 10px;
        height: 20px;
        background-image: url('/medals.png');
      }
      .silver-medal {
        background-position: 20px;
      }
      .bronze-medal {
        background-position: 10px;
      }
    }
  }
  .avatar {
    float: left;
  }
  .content {
    line-height: 30px;
    font-size: 16px;
    float: left;
    margin: 10px 15px;
    color: @urlcolor;
  }
  .rating-no-votes {
    font-size: 18px;
    border-right: none;
    float: right;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
  }
  .vote-block {
    float: right;
    display: block;
    .rating {
      float: left;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      width: 40px;
      text-align: center;
    }
  }
  .voted {
    padding: 2px;
    border-right: none;
    float: right;
    text-align: center;
    line-height: 20px;
    height: 50px;
    .voted-for, .voted-against {
      font-size: 16px;
      text-decoration: none;
      margin-top: 13px;
      opacity: 0.7;
    }
  }
  .votes {
    padding: 2px;
    border-right: none;
    float: right;
    line-height: 20px;
    height: 50px;
    .vote-for:hover {
      color: @green;
    }
    .vote-against:hover {
      color: @red;
    }
    .vote-for, .vote-against {
      cursor: pointer;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;
      display: block;
      color: #A5AEB6;;
    }
    .separator {
      float: right;
      margin-left: 5px;
      color: #A5AEB6;
    }
  }
}

.bubble-comment {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  width: 75%;
  max-height: 300px;
  padding: 0px;
  background: #dee5eb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 13px 8px 0;
    border-color: transparent #A3B8CF;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 3px;
  }
}

.bubble-logo {
  position: relative;
  padding: 0px;
  height: 50px;
  background: @nightblue;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 13px 8px 0;
    border-color: transparent @nightblue;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 0%;
  }
}

.sidebar {
  width: 375px;
  float: right;
  margin-right: 0;
  padding: 10px;
  #vk_groups {
    margin-bottom: 20px;
  }
}

.img-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#add-comment {
  padding-top: 20px;
  .add-comment-field {
    padding: 0 10px;
    .comment-field {
      width: 87%;
      float: right;
      height: 50px;
      font-size: 25px;
    }
  }
  #counter {
    font-size: 30px;
    line-height: 48px;
    padding-left: 5px;
    .warning {
      color: red;
    }
  }
}

blockquote {
  margin: 20px 0;
}

footer {
  float: left;
  width: 100%;
  .cr {
    margin-bottom: 20px;
  }
}

#load_more_comments {
  display: none;
}

.sort_comments {
  text-align: right;
  margin-right: 10px;
}

.micro-blog {
  padding: 20px;
  margin-bottom: 20px !important;
  background-color: #fff;
  border-radius: 10px;
  .bubble-comment {
    width: 85%;
  }
}

#group, #wall {
  margin-bottom: 20px;
}

.upload-image {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  input {
    margin: 50px auto 25px auto;
  }
}

.users {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  .karma-table {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
  }
  .single-user {
    font-size: 20px;
    padding-left: 20px;
    a {
      vertical-align: middle;
    }
    .username {
      margin-left: 10px;
    }
  }
}

.bubble-comment-user {
  width: 78% !important;
  padding-left: 0 !important;
  margin-left: 50px !important;
}

.user-page {  
  #user-profile-info {
    background-color: #fff;
    border-radius: 10px;  
    margin-bottom: 20px;
    .user-show {
      td {
        vertical-align: middle !important;
        font-size: 20px;
        border: none !important;
      }
    }
  }
}

#user-comments {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  .row {
    margin: 10px -15px;
  }
}

#load-more-btn {
  background-color: #fff;
  padding: 0px 20px 20px 20px;
  margin-top: -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-wide {
  width: 100%;
}

.no-left-padding {
  padding-left: 0 !important;
}

table {
  margin-bottom: 0px !important;
}

.center {
  text-align: center;
}



#footer-wrapper {
  position: relative;
  float: left;
  padding: 24px 0 24px 0;
  height: auto;
  width: 100%;
  text-align: left;
  background-color: rgba(0,0,0,0.5);
  /* background-color: #5b7ca2; */
  /* -webkit-box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px; */
  #counters {
    position: absolute;
    bottom: 0;
    left: 100px;
  }
}

#footer {
  /* padding-top: 70px; */
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 980px;
}

#functions {
  text-align: right;
  float: left;
  /* top: 70px; */
  left: 0;
  height: auto;
}

#footer a {
color: white;
text-decoration: none;
font-weight: bold;
  &:hover {
    color: rgb(241, 219, 19);
  }
}

#archives {
  /* padding-top: 24px; */
  list-style-type: none;
  margin: 0;
  text-align: right;
  width: 190px;
}

#footer p {
  margin-left: 225px;
  margin-bottom: 0px;
  width: 700px;
  color: white;
}

.yellow {
  color: rgb(241, 219, 19) !important;
}

.edit-profile {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

#legal {
  margin-top: 10px;
}

#not-signed-in {
  text-align: center;
}

.btn-custom {
  color: #ffffff;
  background-color: rgba(0,0,0, 0.5); 
  border-color: rgba(0,0,0, 0.5);
  &:hover {
    color: rgb(241, 219, 19);
    background-color: rgba(0,0,0, 0.6); 
    border-color: rgba(0,0,0, 0.5);
  }
}

.comments {
  background-color: #fff;
  padding: 20px 10px 10px 10px;
  border-top: 1px solid #DAE1E8;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

