@nightblue: #5B7FA7;
@urlcolor: #2B587A;

body {
  width: 940px;
  margin: 0 auto;
}

a {
  color: @urlcolor;
  &:hover {
    color: @urlcolor;
  }
}

h1 {
  color: @urlcolor;
}

header {
  h1 {
    a {
      margin-left: 4px !important;
      color: #fff;
    }
  }
}

.main {
  width: 620px;
  margin: 0 auto;
  float: left;
}
/*
img {
  max-width: 100% !important;
}
*/
nav {
  font-size: 15px;
  letter-spacing: 2px;
  margin: 20px 0px;
  ul {
    text-align: center;
    list-style: none;
    padding-left: 0px;
    width: 594px;
    margin: 0 auto;
    li {
      padding: 4px 0px;
      display: inline;
      margin-right: 15px;
        &:last-of-type {
          margin: 0;
        }
    }
  }
}
.commentator {
  .img-header {
    width: 100%;
    overflow: hidden;
    .title {
      float: left;
      margin-top: 0;
      margin-bottom: 3px;
      font-size: 15px;
      font-weight: bold;
    }
    .share {
      float: right;
      margin-top: 0;
      margin-bottom: 3px;
      img {
        height: 20px;
      }
    }
  }
  .image {
    margin: 0 auto;
    text-align: center;
  }
  .top-comment {
    background-color: @nightblue;
    width: 100%;
    overflow:hidden;
    h1 {
      padding: 25px 10px 25px 10px;
      margin: 0;
      text-align: center;
      color: #fff;
    }
    h4 {
      color: #A9B8CC;
      padding: 0px;
      text-align: center;
      margin: -10px 20px 20px 20px;
      a {
        color: #A9B8CC;
      }
    }
  }
}

h4 {
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: @nightblue;
}

.resize {
  width: 620px;
  height: auto;
}

.pagination {
  width: 620px;
  text-align: center;
  padding: 1em;
  cursor: default;
  a, span {
    padding: 0.2em 0.3em;
    color: @nightblue !important;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: @nightblue;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    color: #fff;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.single-comment {
  .content {
    float: left;
    margin: 10px;
    color: #fff;
  }
  #votes {
    float: right;
    display: inline;
    line-height: 40px;
    font-size: 40px;
    #vote-for, #vote-against {
      float: right;
      margin-left: 5px;
      cursor: pointer;
    }
    .separator {
      float: right;
      margin-left: 5px;
      color: @urlcolor;
    }
  }
}

#vote-made {
  display: none;
}

.bubble-comment {
  display: inline-block;
  position: relative;
  width: 80%;
  max-height: 300px;
  padding: 0px;
  background: @nightblue;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 13px 8px 0;
    border-color: transparent @nightblue;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 0%;
  }
  #rating {
    line-height: 40px;
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
  }
}

.bubble-logo {
  position: relative;
  padding: 0px;
  background: @nightblue;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 13px 8px 0;
    border-color: transparent @nightblue;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 0%;
  }
}

.sidebar {
  width: 300px;
  float: right;
  margin-left: 20px;
  #vk_groups {
    margin-bottom: 20px;
  }
}
