@nightblue: #5B7FA7;
@urlcolor: #2B587A;
@red: #F68E8E;
@green: #92F68E;

body {
  width: 1000px;
  margin: 0 auto;
  background: #dedede url('http://subtlepatterns.com/patterns/sativa.png');
}

a {
  color: @urlcolor;
  &:hover {
    color: @urlcolor;
  }
}

h1 {
  color: @urlcolor;
}

.red {
  color: @red;
}

.green {
  color: @green;
}

header {
  overflow: hidden;
  .logo {
    width: 60%;
    float: left;
    margin: 20px;
    /* text-align: center; */
    color: #2b587a;
    span {
      font-size: 50px;
      margin-left: 20px;
    }
    img {
      width: 80px;
    }
    a {
      font-weight: 200;
      font-size: 70px;
      line-height: 100px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  ul.menu {
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #5b7ca2;
    height: 40px;
    line-height: 42px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #475e78;
    color: #fff;
    zoom: 1;
    border: 0;
    overflow: hidden;
    .rmenu {
      overflow: hidden;
      float: right;
    }
    li {
      float: left;
      border: 0;
      margin: 0;
      padding: 0;
      a {
        float: left;
        display: block;
        height: 40px;
        color: #fff;
        text-decoration: none;
        padding: 0 18px 0 16px;
        &:hover {
          color: rgb(241, 219, 19);
        }
      }
    }
  }
}

.wrapper { 
  background-color: #fff;
  padding-top: 10px;
  overflow: hidden;
  padding: 10px;
}

.main {
  width: 615px;
  margin: 0;
  float: left;
}
/*
img {
  max-width: 100% !important;
}
*/
#profile {
  overflow: hidden;
  margin-bottom: 10px;
  #side-menu {
    float: left;
    padding: 10px;
    border: 1px solid #BEC8D3;
    width: 275px;
    height: 95px;
    ul {
      list-style: none;
      text-align: center;
      margin-bottom: 0;
      padding-left: 0;
      margin-top: 5px;
    }
  }
  #profile-sign-in {
    border: 1px solid #BEC8D3;
    position: relative;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 80px;
    height: 127px;
    color: #2b587a;
    img {
      display: block;
      margin: 0 auto;
    }
    #profile-info {
      padding: 10px;
      margin: 0;
    }
    #gate {
      padding: 10px 10px 10px 10px;
      width: 100px;
      display: block;
      margin: 0 auto;
    }
    #profile-enter {
      font-size: 18px;
      color: #2b587a;
      text-align: center;
      background: #5b7ca2;
      color: white;
      line-height: 54px;
      margin: 0;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: rgb(241, 219, 19);
        }
      }
    }
  }
  .navigation {
    border: 1px solid #BEC8D3;
    position: relative;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 80px;
    /* new */
    width: 70px;
    float: right;
    #profile-karma {
      text-align: center;
      margin-bottom: 0;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    ul {
      text-align: center;
      list-style: none;
      padding-left: 0px;
      margin: 0 auto;
      li {
        padding: 4px 0px;
        display: inline;
        margin-right: 15px;
        a {
          text-decoration: none;
        }
        &:last-of-type {
          margin: 0;
        }
      }
    } 
  }
}
article {
  width: 100%;
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.commentator {  
  border: 1px solid #BEC8D3;
  padding: 0px 10px 10px 10px;
  margin-bottom: 10px;
  .image {
    img {
      border: 1px solid #BEC8D3;
    }
  }
  .img-header {
    width: 100%;
    overflow: visible;
    .created_at_image {
      float: left;
    }
    .title {
      float: right;
      overflow: visible;
      a:hover {
        text-decoration: none;
      }
    }
  }
  .share {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    img {
      height: 20px;
    }
  }
  .image {
    margin: 0 auto;
    text-align: center;
  }
  .top-comment {
    background-color: #5b7ca2;
    width: 100%;
    overflow:hidden;
    border: 1px solid #BEC8D3;
    h1 {
      padding: 25px 10px 25px 10px;
      margin: 0;
      text-align: center;
      color: #fff;
      text-shadow: 0px 2px 3px #3563B6;
    }
    h4 {
      color: #A9B8CC;
      padding: 0px;
      text-align: center;
      margin: -10px 20px 20px 20px;
      a {
        color: #A9B8CC;
      }
    }
  }
}

h4 {
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: @nightblue;
}

.resize {
  width: 100%;
  height: auto;
}

div.pagination {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
  cursor: default;
  ul.pagination {
    margin: 0 auto;
    li {
      a {
        border: none;
      }
    }
  }
  a, span {
    padding: 0.2em 0.3em;
    /* color: @nightblue !important; */
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    /*font-weight: bold;*/
    /* background-color: @nightblue; */
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    color: #2b587a;
    /*-moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    color: #fff;
    */
    font-size: 30px;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.single-comment {
  margin-bottom: 20px;
  .thumb-image {
    float: left;
    width: 200px;
  }
  .image-id { /* User's profile */
    line-height: 50px;
    float: left;
    font-size: 25px;
  }
  .comment-top {
    height: 20px;
    .username {
      margin-left: 70px;
    }
    .medal {
      position: relative;
      top: 40px;
      left: 20px;
      .gold-medal, .silver-medal, .bronze-medal {
        width: 10px;
        height: 20px;
        background-image: url('/medals.png');
      }
      .silver-medal {
        background-position: 20px;
      }
      .bronze-medal {
        background-position: 10px;
      }
    }
  }
  .avatar {
    float: left;
  }
  .content {
    line-height: 30px;
    font-size: 16px;
    float: left;
    margin: 10px 15px;
    color: @urlcolor;
  }
  .rating {
    text-align: center;
    font-size: 20px;
  }
  .voted {
    float: right;
    width: 46px;
    text-align: center;
    line-height: 25px;
    .voted-for, .voted-against {
      font-size: 25px;
      line-height: 25px;
      text-decoration: none;
    }
  }
  .votes {
    float: right;
    line-height: 25px;
    .vote-for:hover {
      color: @green;
    }
    .vote-against:hover {
      color: @red;
    }
    .vote-for, .vote-against {
      cursor: pointer;
      font-size: 25px;
      line-height: 25px;
      text-decoration: none;
      color: @urlcolor;
    }
    .separator {
      float: right;
      margin-left: 5px;
      color: @urlcolor;
    }
  }
}

.vote-made {
}

.bubble-comment {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  width: 79%;
  max-height: 300px;
  padding: 0px;
  background: #dee5eb;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 13px 8px 0;
    border-color: transparent #A3B8CF;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 0%;
  }
}

.bubble-logo {
  position: relative;
  padding: 0px;
  height: 50px;
  background: @nightblue;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 13px 8px 0;
    border-color: transparent @nightblue;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 0%;
  }
}

.sidebar {
  width: 355px;
  float: right;
  margin-left: 10px;
  margin-right: 0;
  #vk_groups {
    margin-bottom: 20px;
  }
}

.img-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.add-comment {
  margin-top: 20px;
  .comment-field {
    width: 90%;
    float: right;
    height: 50px;
    font-size: 25px;
  }
}

blockquote {
  margin: 20px 0;
}

footer {
  float: left;
  width: 100%;
  .cr {
    margin-bottom: 20px;
  }
}

.spinning_logo {
    width: 100px; 
    height: 100px;
    margin: 0 auto; 
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#load_more_comments {
  display: none;
}

.sort_comments {
  text-align: right;
}

.micro-blog {
  border: 1px solid #BEC8D3;
  padding: 10px;
  margin-bottom: 10px !important;
}

#group, #wall {
  border: 1px solid #BEC8D3;
  margin-bottom: 10px;
}

.upload-image {
  text-align: center;
  input {
    margin: 50px auto 25px auto;
  }
}

.users {
  .karma-table {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
  }
}

.bubble-comment-user {
  width: 80% !important;
  padding-left: 0 !important;
}

.user-page {
  border: 1px solid #BEC8D3;
  padding: 10px;
}

#user-comments {
  .row {
    margin: 10px -15px;
  }
}

.user-show {
  background-color: #dee5eb;
  td {
    vertical-align: middle !important;
    font-size: 20px;
    border: none !important;
  }
}

.no-left-padding {
  padding-left: 0 !important;
}

table {
  margin-bottom: 0px !important;
}

.center {
  text-align: center;
}



#footer-wrapper {
  position: relative;
  float: left;
  padding: 24px 0 24px 0;
  height: auto;
  width: 100%;
  text-align: left;
  background-color: #5b7ca2;
  /* -webkit-box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px; */
}

#footer {
/* padding-top: 70px; */
margin-right: auto;
margin-left: auto;
position: relative;
width: 980px;
}

#functions {
text-align: right;
position: absolute;
/* top: 70px; */
left: 0;
width: 180px;
height: auto;
}

#footer a {
color: white;
text-decoration: none;
  &:hover {
    color: rgb(241, 219, 19);
  }
}

#archives {
/* padding-top: 24px; */
list-style-type: none;
margin: 0;
text-align: right;
width: 180px;
}

#footer p {
margin-left: 250px;
margin-bottom: 0px;
width: 700px;
color: white;
}

.yellow {
  color: rgb(241, 219, 19) !important;
}

.load-more {
  color: #ffffff;
  background-color: #5b7ca2;
  border-color: #357ebd;
  &:hover {
    color: #ffffff;
    background-color: #7496BD;
    border-color: #357ebd;
  }
}
