body#mobile {
  margin: 0;
  padding: 0;
}

.img-circle-mobile {
  width: 100%;
  border-radius: 50%;
}

.comments-mobile {
  padding: 10px;
  border-top: 1px solid #DAE1E8;
  background-color: #fff;
  &:last-child {
    border-bottom: 1px solid #DAE1E8;
  }
}