%h1
  Добавить комментарий
= form_for ([@image, @image.comments.build]) do |f|
  %p
    = f.hidden_field :image_id
    = f.text_area :content, class: 'form-control'
    = f.submit 'Отправить', class: 'btn btn-default'