- if user_signed_in?
  -if @image.errors.any? 
    %h2.center
      = @image.errors[:image].join(" ")
  = form_for @image do |f|
    .upload-image
      %p
        = f.file_field :image
      %p
        = f.submit 'Добавить', class: 'btn btn-primary btn-sm'
- else
  %h1.center Сначала нужно войти