- if image.comments.any?
  - @top_comment = image.comments.order("rating DESC, created_at ASC").first.content
- else
  - @top_comment = 'Комментариев пока нет'
.image-mobile
  = link_to(image_tag(image.image.url(:medium), class: "resize"), image_path(image))
  .top-comment
    %h1
      = @top_comment
    - if image.comments.any?
      %h4
        = link_to(image.comments.order("rating DESC, created_at ASC").first.user.username, user_path(image.comments.order("rating DESC, created_at ASC").first.user), rel: 'author')
  .copyright
    %h6
      commentators.to