#footer-wrapper
  #footer
    #functions
      %ul#archives
        %li
          %a.yellow{href: "/"} COMMENTATORS.TO
        %li
          %a{href: "/dniwe"} DNIWE
        %li
          %a{href: "/best"} Перлы
        %li
          %a{href: "/users"} Население
        %li
          %a{href: "http://vk.com/mentators"} Группа ВКонтакте
    .description
      %p
        %b Комментаторы 
        = " - это новый вид интерактивного развлечения, который заключается в комментировании картинок с целью попасть в топ лучших, размещенных непосредственно под изображением."
      %p
        %b Комментатор 
        = "- это картинка с самой подходящей и остроумной подписью, которая избирается пользователями сайта среди всех других комментариев."
      %p
        Оставляйте комментарии к картинкам и смотрите за реакцией других пользователей. Вместе с вашей кармой будет расти ваше 
        %b чувство юмора.
      #legal
        %p © 2014 COMMENTATORS.TO
    #counters
      = render 'analytics/live_internet'
    #cherry
