#footer-wrapper
  #footer
    #functions
      %ul#archives
        %li
          %a.yellow{href: "/"} COMMENTATORS.TO
        %li
          %a{href: "/dniwe"} DNIWE
        %li
          %a{href: "/best"} Перлы
        %li
          %a{href: "/users"} Население
        %li
          %a{href: "http://vk.com/mentators"} Группа ВКонтакте
    .description
      %p
        %b Комментаторы 
        = " - это интерактивный развлекательно-познавательный новостной портал. Здесь публикуются самые интересный новости и факты со всего мира, а также картинки, к которым нужно придумать подпись."
      %p
        %b Комментатор 
        = "- это картинка с самой подходящей и остроумной подписью, которая избирается пользователями сайта среди всех других комментариев."
      %p
        Оставляйте комментарии к постам и смотрите за реакцией других пользователей. Вместе с вашей кармой будет расти ваше 
        %b чувство юмора и эрудиция.
      #legal
        %p © 2014 COMMENTATORS.TO
    #counters
      = render 'analytics/live_internet'
    #cherry
