%header
  %ul.menu
    %li
      %a.main{href: "/", style: "color: rgb(241, 219, 19);", title: "Главная"} Главная
    %li
      %a.add{href: "/add", title: "Добавить"} Добавить
    %li
      %a{href: "/all"} Бездна
    %li
      %a{href: "/best"} Лучшие
    %li
      %a{href: "/random"} Случайный
    %li
      %a{href: "/tags"} Категории
    %li
      %a{href: "/rating"} Рейтинг
    .rmenu
      %li
        %a.empty
      %li
        %a{href: "/advert"} Реклама
      %li
        %a{href: "/faq"} FAQ
      / <li><a href="/wiki">Энциклопедия <span class="sup">new</span></a></li>
      %li
        %a{href: "/wall"} Стена