%header
  %navigation
    %ul.menu
      %li
        .home
          = link_to 'COMMENTATORS.TO', root_path 
      .rmenu
        %li
          = link_to_unless_current 'Бездна', dniwe_path
        %li
          = link_to_unless_current 'Лучшее', best_path
        %li
          = link_to_unless_current 'Население', users_path