%header
  %navigation
    %ul.menu
      %li#pac
        %a.home{href: "/", title: "Главная"}
      .rmenu
        %li
          %a{href: "/dniwe"} Dniwe
        %li
          %a{href: "/best"} Перлы
        %li
          %a.fa.fa-users{href: "/users"}