%header
  %navigation
    %ul.menu
      %li
        .home
          = link_to_unless_current 'COMMENTATORS.TO', root_path 
      .rmenu
        %li
          = link_to_unless_current 'Dniwe', dniwe_path
        %li
          = link_to_unless_current 'Перлы', best_path
        %li
          = link_to_unless_current 'Население', users_path