%header
  %ul.menu
    %li
      %a.home{href: "/", style: "color: rgb(241, 219, 19);", title: "Главная"} COMMENTATORS.TO
    .rmenu
      %li
        %a.add{href: new_image_path, title: "Добавить"} Добавить
      %li
        %a{href: "/dniwe"} Dniwe
      %li
        %a{href: "/best"} Перлы
      %li
        %a{href: "/users"} Население