%header
  %navigation
    %ul.menu
      %li#pac
        %a.home{href: "/", title: "Главная"}
      .rmenu
        %li
          %a{href: "/dniwe"} Dniwe
        %li
          %a{href: "/best"} Перлы
        %li
          - if user_signed_in?
            = link_to '', destroy_user_session_path, method: :delete, class: 'fa fa-sign-out', title: 'Выход'
          - else
            = link_to '', user_omniauth_authorize_path(:vkontakte), class: 'fa fa-sign-in', title: 'Вход'