%header
  %navigation
    %ul.menu
      %li
        %a.home{href: "/", style: "color: rgb(241, 219, 19);", title: "Главная"} C
      .rmenu
        %li
          %a{href: "/dniwe"} Dniwe
        %li
          %a{href: "/best"} Перлы
        %li
          %a.fa.fa-users{href: "/users"}