.image-footer
  .date
    %h6
      = post.created_at.strftime("%d.%m.%y")
  .copyright
    %h6
      Автор:
      - if post.user != nil
        = link_to post.user.username, user_path(post.user), rel: 'author'
      - else
        Anonymous
      - if action_name == 'show'
        - if user_signed_in?
          - if current_user.admin?
            - unless post.godnota?
              %i.godnota.dniwe.fa.fa-thumbs-o-up{ data: {:post_id => post.id, type: controller_name}}
            = link_to 'Редактировать', [:edit, post]
            = link_to 'Фтопку', post, method: :delete