%h4.share
  - if shareable.class.name == "Image"
    - if shareable.comments.any?
      .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,moimir", "data-yasharetheme" => "counter", "data-yashareType" => "big", "data-yashareLink" => "http://commentators.to/images/#{shareable.id}", "data-yashareTitle" => top_comment}
    - else 
      .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,moimir", "data-yasharetheme" => "counter", "data-yashareType" => "big", "data-yashareLink" => "http://commentators.to/images/#{shareable.id}", "data-yashareTitle" => "Комментариев пока нет"}
  - else
    - if shareable.class.name == "News" || shareable.class.name == "Fiction" || shareable.class.name == "Fact" || shareable.class.name == "Story"
      .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,moimir", "data-yasharetheme" => "counter", "data-yashareType" => "big", "data-yashareLink" => "http://commentators.to/#{shareable.class.name.pluralize.downcase}/#{shareable.id}", "data-yashareTitle" => shareable.title, "data-yashareDescription" => truncate(shareable.content, length: 300, separator: ' ')}
