.sidebar
  #vk_groups
  :javascript
    VK.Widgets.Group("vk_groups", {mode: 1, width: "300", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 44170325);
  #vk_comments
  :javascript
    VK.Widgets.Comments("vk_comments", {limit: 10, width: "100%", attach: "graffiti,photo,video,audio"});
  